
@font-face {
    font-family: 'DeliciousBold';
    src: font-url('delicious-bold-webfont.eot');
    src: font-url('delicious-bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('delicious-bold-webfont.woff') format('woff'),
         font-url('delicious-bold-webfont.ttf') format('truetype'),
         font-url('delicious-bold-webfont.svg#DeliciousBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DeliciousBoldItalic';
    src: font-url('delicious-bolditalic-webfont.eot');
    src: font-url('delicious-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('delicious-bolditalic-webfont.woff') format('woff'),
         font-url('delicious-bolditalic-webfont.ttf') format('truetype'),
         font-url('delicious-bolditalic-webfont.svg#DeliciousBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DeliciousHeavyRegular';
    src: font-url('delicious-heavy-webfont.eot');
    src: font-url('delicious-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('delicious-heavy-webfont.woff') format('woff'),
         font-url('delicious-heavy-webfont.ttf') format('truetype'),
         font-url('delicious-heavy-webfont.svg#DeliciousHeavyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DeliciousItalic';
    src: font-url('delicious-italic-webfont.eot');
    src: font-url('delicious-italic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('delicious-italic-webfont.woff') format('woff'),
         font-url('delicious-italic-webfont.ttf') format('truetype'),
         font-url('delicious-italic-webfont.svg#DeliciousItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DeliciousRoman';
    src: font-url('delicious-roman-webfont.eot');
    src: font-url('delicious-roman-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('delicious-roman-webfont.woff') format('woff'),
         font-url('delicious-roman-webfont.ttf') format('truetype'),
         font-url('delicious-roman-webfont.svg#DeliciousRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DeliciousSmallCapsRegular';
    src: font-url('delicious-smallcaps-webfont.eot');
    src: font-url('delicious-smallcaps-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('delicious-smallcaps-webfont.woff') format('woff'),
         font-url('delicious-smallcaps-webfont.ttf') format('truetype'),
         font-url('delicious-smallcaps-webfont.svg#DeliciousSmallCapsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeue';
    src: font-url('HelveticaNeue.eot');
    src: font-url('HelveticaNeue.eot?#iefix') format('embedded-opentype'),
         font-url('HelveticaNeue.woff') format('woff'),
         font-url('HelveticaNeue.ttf') format('truetype'),
         font-url('HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'texgyreheros';
    src: font-url('texgyreheros-bold.eot');
    src: font-url('texgyreheros-bold.eot?#iefix') format('embedded-opentype'),
         font-url('texgyreheros-bold.woff') format('woff'),
         font-url('texgyreheros-bold.ttf') format('truetype'),
         font-url('texgyreheros-bold.svg#texgyreheros') format('svg');
    font-weight: bold;
}

@font-face {
    font-family: 'texgyreheros';
    src: font-url('texgyreheros-bolditalic.eot');
    src: font-url('texgyreheros-bolditalic.eot?#iefix') format('embedded-opentype'),
         font-url('texgyreheros-bolditalic.woff') format('woff'),
         font-url('texgyreheros-bolditalic.ttf') format('truetype'),
         font-url('texgyreheros-bolditalic.svg#texgyreheros') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'texgyreheros';
    src: font-url('texgyreheros-regular.eot');
    src: font-url('texgyreheros-regular.eot?#iefix') format('embedded-opentype'),
         font-url('texgyreheros-regular.woff') format('woff'),
         font-url('texgyreheros-regular.ttf') format('truetype'),
         font-url('texgyreheros-regular.svg#texgyreheros') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'texgyreheros';
    src: font-url('texgyreheros-italic.eot');
    src: font-url('texgyreheros-italic.eot?#iefix') format('embedded-opentype'),
         font-url('texgyreheros-italic.woff') format('woff'),
         font-url('texgyreheros-italic.ttf') format('truetype'),
         font-url('texgyreheros-italic.svg#texgyreheros') format('svg');
    font-weight: normal;
    font-style: italic;
}
